.dropdown {
  position: relative;
  display: inline-block;
  transform: translate(0, 1px);
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(236, 234, 234, 0.863);
}

.dropdown:hover .dropdown-content {
  display: block;
}
